@page
@model BookStore1.Pages.Books.IndexModel

@{
    ViewData["Title"] = "IBookList";
}

<h1>BookList</h1>

<!-- Search Form -->
<form method="get">
    <div class="row mb-3">
        <div class="col-md-4">
            <input type="text" asp-for="SearchString" placeholder="Search by title" class="form-control" />
        </div>
        <div class="col-md-3">
            <select asp-for="BookGenre" asp-items="Model.Genres" class="form-select">
                <option value="">All Genres</option>
            </select>
        </div>
        <div class="col-md-5">
            <input type="submit" value="Filter" class="btn btn-primary" />
            <a asp-page="Index" class="btn btn-secondary">Reset</a>
            <a asp-page="Create" class="btn btn-success float-end">Create New</a>
        </div>
    </div>
</form>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Book[0].Title)</th>
            <th>@Html.DisplayNameFor(model => model.Book[0].Genre)</th>
            <th>@Html.DisplayNameFor(model => model.Book[0].Price)</th>
            <th>@Html.DisplayNameFor(model => model.Book[0].ImageUrl)</th>
            <th>@Html.DisplayNameFor(model => model.Book[0].Author)</th>
            <th>@Html.DisplayNameFor(model => model.Book[0].Description)</th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Book.OrderByDescending(b => b.Id))
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td><img src="@item.ImageUrl" alt="Book Image" style="width: 50px; height: auto;" /></td>
                <td>@Html.DisplayFor(modelItem => item.Author)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
